{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br><br><br>


<CENTER>
<div class="col-sm-6 bg-secondary text-primary">

  <div class="card mb-3">
    <h3 class="card-header text-primary">Profil</h3>
    <div class="card-body text-primary">
    </div>

    <figure class="text-center">

      <blockquote class="blockquote text-primary">
        <p class="mb-0"><small><p><h6>Cela fait presque 1 an que je suis élève en RT, à l’université Jean Monnet : je développe mes compétences au sein de cet établissement pour être à la pointe des attentes exigeante de la technologique. Sérieux, motivé et appliqué je suis à votre disposition.</h6></p></small></p>
      </blockquote>

      <h1><figcaption class="blockquote-footer">
        
      </figcaption></h1>

    <div class="card mb-3">
      <div class="btn btn-secondary disabled">Nom : SALA<br>Prénom : Mattéo
      
      <br><br><br>

      e-mail : salamatteo18@gmail.com

      <br><br><br>

      tel : 0661578148

      <br><br><br>

      adresse : 15 bis rue fontenille 42300 Roanne

      
      
      </button>
    </div>

    </figure>


    <div class="card-body">
      <a href="/page1" class="card-link">Pour en savoir plus</a>
    </div>

    <div class="card-footer text-muted">
      2 days ago
    </div>

  </div>

</div>
</CENTER>

{% endblock %}
