{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br><br><br>

<div class="row">

                <div class="col ">
                
                   <div class="card mb-3 bg-secondary">

                    <figure class="text-center">

                    <blockquote class="blockquote bg-secondary text-black">
                        <p class="mb-0"><small><p><h6>Passion</h6></p></small></p>
                    </blockquote>


                    <div class="card mb-3">
                    <div class="btn btn-primary text-white">
                    
                        <img src="https://canoe-france.com/wp-content/uploads/diapo-ardeche.jpg" width="450">


                    </div>

                    </figure>


                    <div class="card-body">
                    <CENTER><a href="#" class="card-link">Randonnée</a></CENTER>
                    </div>

                    <div class="card-footer text-muted">
                    2 days ago
                    </div>

                </div>
                </div>

                
                <div class="col">

                    <div class="col ">
                    
                    <div class="card mb-3 bg-secondary">

                        <figure class="text-center">

                        <blockquote class="blockquote bg-secondary text-black">
                            <p class="mb-0"><small><p><h6>Passion</h6></p></small></p>
                        </blockquote>


                        <div class="card mb-3">
                        <div class="btn btn-primary text-white">
                        
                            <img src="https://images.ladepeche.fr/api/v1/images/view/5d5aa1f03e45462a57001b14/large/image.jpg?v=1" width="450">


                        </div>

                        </figure>


                        <div class="card-body">
                        <CENTER><a href="#" class="card-link">Photographie</a></CENTER>
                        </div>

                        <div class="card-footer text-muted">
                        2 days ago
                        </div>

                    </div>
                    </div>
                </div>

                <div class="col"></div>
            </div>
            <div class="row">

<div class="row">

                <div class="col "></div>

                
                <div class="col">

                    <div class="col ">
                    
                    <div class="card mb-3 bg-secondary">

                        <figure class="text-center">

                        <blockquote class="blockquote bg-secondary text-black">
                            <p class="mb-0"><small><p><h6>Passion</h6></p></small></p>
                        </blockquote>


                        <div class="card mb-3">
                        <div class="btn btn-primary text-white">
                        
                            <img src="http://guichet.public.lu/dam-assets/pics/news/base/citoyens/loisirs/860035762.jpg/_jcr_content/renditions/thumb-xxhdpi.jpg" width="450">


                        </div>

                        </figure>


                        <div class="card-body">
                        <CENTER><a href="#" class="card-link">Voyager</a></CENTER>
                        </div>

                        <div class="card-footer text-muted">
                        2 days ago
                        </div>

                    </div>
                    </div>
                </div>

                <div class="col">
                         <div class="card mb-3 bg-secondary">

                            <figure class="text-center">

                            <blockquote class="blockquote bg-secondary text-black">
                                <p class="mb-0"><small><p><h6>Passion</h6></p></small></p>
                            </blockquote>


                            <div class="card mb-3">
                            <div class="btn btn-primary text-white">
                            
                                <img src="https://m.onisep.fr/var/onisep/storage/images/_aliases/article_visuel_660_440/media/images/toute-l-actualite-nationale/juin-2013/les-metiers-de-la-musique/12832676-1-fre-FR/Les-metiers-de-la-musique.jpg" width="450">


                            </div>

                            </figure>


                            <div class="card-body">
                            <CENTER><a href="#" class="card-link">Musique</a></CENTER>
                            </div>

                            <div class="card-footer text-muted">
                            2 days ago
                            </div>

                        </div>
                        </div>
            </div>
            <div class="row">

{% endblock %}
