{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<br><br>


<body>

    <div class="row">

        <div class="col">

            <figure>
                <blockquote class="blockquote text-white">
                    <p class="mb-0">Je possède plusieurs passions/hobies dans la vie. On pourrais même dire que je suis passionné de celle-ci. En voici quelque une :<br><br>- la musique<br>- voyager<br>- être en pleine nature...</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                   <cite title="Source Title">Le plaisir  de partager</cite>
                </figcaption>
            </figure>
        </div>

        <div class="col"> <img src="image/voyage.jpg" width="75%"> </div>
        

    </div>

    <hr bg-secondary>


    <div class="row">

        <div class="col"></div>

        <div class="col">
            <figure class="text-center text-white">
                <blockquote class="blockquote">
                    <p class="mb-0">Je suis né dans un Dom tom français : L'île de la réunion <br><br> j'ai donc toujours vécus dans une ambiance convivial et familial. Qui m'a appris inculqué beaucoups de valeurs: le partage, l'entraide...</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Le plaisir de voyager</cite>
                </figcaption>
            </figure>

        </div>

        <div class="col"></div>

        

    </div>

    <CENTER><video controls src="/réunion.mp4">Le texte à afficher si la vidéo ne se charge pas</video></CENTER>

        
    <hr>


    <div class="row">

        <div class="col"><img src="image/sécurité.png" width="100%"></div>

        <div class="col">
        
            <figure class="text-end text-white">
                <blockquote class="blockquote">
                    <p class="mb-0">De nos jour avec la propagation de la technologie, nous nous exposons a de nouveaux risques.  c'est pour cela que j'ai la volonté de devenir ingénieur afin d'avoir un impact direct sur la sécurité des données qu'elles soient personnel, privée...</p>
                
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">Le plaisir de protégé</cite>
                </figcaption>
            </figure>

        </div>
        
    </div>

    <br>


</body>


{% endblock %}